.App {
  text-align: center;
  font-size: 80%;
}

 
.AppContainer {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
   
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.basic {
    
  width: 100%;
  height:1000px;

  text-align: center;
  white-space:normal; 
 
  background-color: rgb(172, 181, 204);
   
}



.ButtonStyle {
  font-weight: 100;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  line-height: 25px;
  font-size: calc(2px + 2vmin);
  color:white;
  background-color: rgb(33, 55, 156);
  border: none;
  text-decoration: none;
}

/* 
.CalendarContainer {
  padding-right: 20px;
  padding-right: 20px;
  position: absolute;
  left: 500px;
  float: right;
  background-color: rgb(255, 252, 209);
  color: rgb(233, 93, 0);
  font-size: 100%;
} */


.CalendarContainer {
   
  padding-left: 0px; 
  position: inline;
  float: right;
  top: 100px;
  right: 0px;
  display: float;
  background-color: rgb(250, 249, 233);
  color: rgb(233, 93, 0);
  font-size: 100%;
  width: 70%;
  height: 70%;
}
 
.DayPickerContainer {
  text-align: left;
}
 
.Div_A {
  float: left;
  width: 30px;
  height: 30px;
  background-color: red;
}

.Div_B {
  float: right;
  width: 30px;
  height: 30px;
  background-color: blue;
}



.FormStyle {
  font-weight: 100;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  line-height: 35px;
  font-size: calc(5px + 2vmin);
  color: rgb(33, 55, 156);
  border: none;
  text-decoration: none;
}


.HeaderBarContainer {
  display: inline-block;
  /* height: 12vmin;   */
  width: 100%;
  background-color: rgb(255, 238, 2);
}


.HeaderBarLogOut {
  float: right;
  padding-right: 30px;
  /* display: inline; */
  /* margin-right: 155px; */
  /* padding-bottom: 25px;  */

}


.HeaderBarLogoImage {
  float: left;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-left: 40px;
  text-align: left;
  margin: 0, auto;
  width: 25%;
}


.HeaderBarButton {
  font-weight: 100;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  line-height: 25px;
  font-size: calc(8px + 2vmin);
  color: rgb(33, 55, 156);
  border: none;
  text-decoration: none;
}

.logoContainer {
  text-align: center;
  margin: 0, auto;
  width: 100%;
  background-color: rgb(255, 238, 2);
}


.logoImage {
  padding-top: 20px;
  padding-bottom: 15px;
  text-align: center;
  margin: 0, auto;
  width: 85%;
}

.LandingPageContainer {
  text-align: center;
  background-color: rgb(172, 181, 204);
  width: 100%;
  height:2000px;

  font-weight: 100;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  line-height: 25px;
  font-size: calc(8px + 2vmin);
  color: rgb(33, 55, 156);
  border: none;
  text-decoration: none;
}

.MainContainer {
   
  width: auto;
  height: stretch;
  background-color: rgb(172, 181, 204);
  padding-left: 20px; 
  padding-right: 20px; 
  /* background-color: red; */

}
 
.navBar {
  background-color: rgb(255, 123, 0);
  padding-left: 30px;
  padding-top: 15px;
 
}

.OrImage {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  margin: 0, auto;
  width: 15%;
}

.SideBarContainer {
  display: inline-block;
  text-align: left;
  padding-top: 0px;
  padding-right: 0px;
   
}

.SideBarText { 
  text-align: left;
  font-weight: 100;
  font-style: normal; 
  font-family: 'Poppins', sans-serif;
  line-height: 28px;
  font-size: 18px;
  color: rgb(33, 55, 156);
  border-style: none;
  list-style: none;
}

.SideBarList {
  margin-left: -35px;
  font-weight: 100;
  font-style: normal; 
  font-family: 'Poppins', sans-serif;
  line-height: 28px;
  font-size: calc(4px + 2vmin);
  color: rgb(33, 55, 156);
  border-style: none;
  list-style: none;

}

/*  
ul,li,.blocksList { 
  color: grey;
  list-style: none;
  font-size: 80%;
} */


 
@media (min-width: 0px) and (max-width: 600px) {


  .CalendarContainer {
    top:100px;
    margin: 0, auto;
    /* position: absolute; */
    text-align: center;
    display: block; 
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    /* position: center; */
    right: 0px;
    left: 0px;
    float: center;

    background-color: rgb(255, 252, 209);
    color: rgb(233, 93, 0);
    font-size: 100%;
  }

   
  .DayPickerContainer {
    text-align: center;
  }

  .HeaderBarLogoImage {
    float: left;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    text-align: left;
    margin: 0, auto;
    width: 55%;
  }


  .HeaderBarLogOut {
    float: right;
    padding-right: 20px;
     
  }


.MainContainer {
  display: block;
  padding: 10px;
  margin: 0; 
  width: 100%;
  height: stretch;
  background-color: rgb(172, 181, 204);
   
}


.SideBarContainer {
  margin: 0,auto;
  right: 0;
  left: 0;
  /* position: absolute; */
  display: block; 
  float: center;
  text-align: center;
  /* top:450px;  */
  padding-left: 0px;
  padding-right: 0px;
   
  height: stretch;
  width:100%; 
 
}


}

/*

@media (min-width: 768px) {
  
  .logoContainer {
    text-align: center;
    margin: 0, auto;
    width: 100%;
    background-color: rgb(255, 238, 2);
  }


  .logoImage {
    padding-top: 20px;
    padding-bottom: 15px;
    text-align: center;
    margin: 0, auto;
    width: 35%;
  }
 
}
 
  
@media (max-width: 420px) {
  
  .CalendarContainer {
    top:100px;
    margin: 0, auto;
    position: absolute;
    text-align: center;
     
    padding-left: 0px;
    padding-right: 0px;
    position: center;
    right: 0px;
    left: 0px;
    float: center;

    background-color: rgb(255, 252, 209);
    color: rgb(233, 93, 0);
    font-size: 100%;
  }

   
  .DayPickerContainer {
    text-align: center;
  }

  .HeaderBarLogoImage {
    float: left;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    text-align: left;
    margin: 0, auto;
    width: 55%;
  }


  .HeaderBarLogOut {
    float: right;
    padding-right: 20px;
     
  }


.MainContainer {
  display: block;
  margin: 0; 
  width: 100%;
  height: stretch;
  background-color: rgb(172, 181, 204);
  

}


.SideBarContainer {
  margin: 0,auto;
  right: 0;
  left: 0;
  position: absolute;
  display: block; 
  float: center;
  text-align: center;
  top:450px; 
  padding-left: 0px;
  padding-right: 0px;
   
  height: stretch;
  width:100%; 
 
}
  
}

*/ 